# Compiled JavaScript files
lib/

# TypeScript cache
*.tsbuildinfo

# Dependency directories
node_modules/

# Firebase cache
.firebase/

# Firebase config
.runtimeconfig.json

# Uncomment this if you'd like to ignore the environment config file
# .env

# Log files
npm-debug.log
yarn-error.log
